
.flex{
    display: flex;
}

nav{
    height: 80px;
    width: 100%;
    background: linear-gradient(#000d33, #3366ff);
}

label.explore{
    font-size: 40px;
    line-height: 80px;
    font-weight: bold;
    background-color: #3366ff;
    padding: 20px 5px 10px 30px;
    color: white;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding-top: 25px;
}

nav ul li a{
    font-size: 20px;
    color: white;
}

a:hover{
    transition: 1s;
    color: #3366ff;
}

main.main{
    position: relative;
}

main h1{
    float: right;
    position: absolute;
    font-size: 20px;
    color: white;
    background-color: #3366ff;
    padding: 10px 15px 10px 15px;
    top: 120px;
    right: 25px;
}

main h2{
font-size: 40px;
}

.about{
    margin: 30px 50px 20px 50px;
}

.about-me{
    border-right-style: solid;
    margin-right: 15px;
}

.about-me-title{
    margin-right: 20px;
    margin-bottom: 25px;
}

.work{
    margin: 30px 50px 20px 50px;
}

.work-title{
    border-right-style: solid;
    margin-right: 15px;
}

.work-title-me{
    margin-right: 35px;
    margin-bottom: 25px;
}

.banner{
    background-image:url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.container{
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.container img{
    padding:5px;
}

.container img:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}

.container h2{
position: absolute;
top:500px;
right:900px;
background-color: #3366ff;
font-size: 30px;
color: white;
padding: 5px;
}

.card{
    border: 5px solid #3366ff;
    padding: 5px
}

.card:first-child{
    width: 100%;
    border: 5px solid #3366ff;
}

.card:not(:first-child) {
    flex: 1;
    
}